* {
  /* color: rgb(254, 253, 253);  */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#header-background,
.header-background{
  /* background-color: rgb(22, 40, 34) !important; */
  background-color: transparent !important;
  border: none !important;
}

nav.header-background{
  border: none !important;
  box-shadow: none;
}
body {
  background-color: #162822;
}

.hero {
  background-image: url("https://cdn.midjourney.com/f275ec51-b206-419d-bb00-98ba756fef1c/0_3.webp");
  background-size: cover;
  height: 500px;
  background-position: center -275px;
}

.logo{
  width: 25%;
  height: auto;
 padding: 1%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
}

.btn {
  font-family: 'Nunito', sans-serif;
  background-color: #19645d !important;
  padding: 0px 25px !important;
  border-radius: 10px !important;
  color: rgb(254, 253, 253) !important;
}

.btn-login{
  font-family: 'Nunito', sans-serif;
  padding: 5px 25px !important;
}
.content-container {
  width: 40%;
  margin-left: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10%;
}

.custom-card{
  font-family: 'Headland One', serif;
  font-size: 36px;
  background-color: #162822;
  color: rgb(254, 253, 253);
  border-radius: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;

}

.explore {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: block;
  width: 100%;
  margin-top: 5px;
}

.explore-button{
  width: 40%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto; /* This will allow breaking very long words */
}

@media (max-width: 1405px) {
  .explore-button {
    font-size: 12px;  /* adjust this value as needed */
    padding: 10px;  /* adjust this value as needed */
  }
}

@media (max-width: 1200px) {
  .explore-button {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 800px) {
  .explore-button {
    font-size: 10px;
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .explore-button {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;

  }

  .custom-card {
    font-size: 24px;
    margin-left: 0;
  }

  .content-container {
    width: 90%;
  }

  #quote {
    font-size: 16px;
  }
}


#quote {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  background-color: #19645d ;
  color: rgb(254, 253, 253);
  border-radius: 10px;
  width: 100%;
  position: relative;
 margin-top: 20px;
}
.profilePageHeader{
  margin-left: 20% !important;
}

.educationPageHeader{
  margin-left: 20% !important;
}

.header ul {
  list-style-type: none;
  display: flex;
  margin-right: 3px;
  padding: 0;
  justify-content: end;
  
}

.header li {
  display: inline-block;
  margin-right: 10px;
}

.btn-login {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #162822 !important;
  font-weight: bold !important;

}


.button {
  border: none;
  text-align: center;
  text-decoration: none;
  /* font-size: 16px; */
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

.profilePic {
  border-style: solid;
  border-width: 10px;
  border-radius: 5pt;
  width: 25%;
  height: 25%;
}
/*.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: white;
    border-radius: 12px;
    box-shadow: rgba (0, 0, 0, 0.1);
    pointer-events: none;
}



.form-container {
position: relative;
top: 50%;
left: 40%;
}*/


/* CSS to keep the Affiliate School and Company logos small so they don't overwhelm the page */

.box {
  display: flex;
}

#logo-image{
  display: block;
  width: 1.5in;
  height: 1.1in;
  margin-right: 8px; /* Optional: Add some spacing between the logos */
}

#company-logo {
  display: block;
  width: 1.5in;
  height: 1in;  /* Made these slightly shorter because if not the Apple looks weird */
  margin-right: 8px; 
}

footer {
  font-family: 'Nunito', sans-serif;
  text-align: center; /* Center the content */
  color: white; /* Make the font color white */
}

.icon-bar {
  font-size: 2em; /* Make the icons larger */
}

.icon-bar a {
  color: white; /* Make the icons white */
}

.icon-bar a:hover {
  color: #ddd; /* Change color on hover, if desired */
}

h4 {
  font-size: 20px; /* Make the font smaller */
}
