* {
  color: rgb(254, 253, 253); 
}

body {
  background-color: rgb(22, 40, 34);
}
.hero {
  background-image: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
}

/* Add styles to the header container for all pages with links and buttons justified to the right*/
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline-block;
  margin-left: 20px;
}

.header li a {
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}


.button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.profilePic {
  border-style: solid;
  border-width: 10px;
  border-radius: 5pt;
  width: 25%;
  height: 25%;
}
/*.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: white;
    border-radius: 12px;
    box-shadow: rgba (0, 0, 0, 0.1);
    pointer-events: none;
}



.form-container {
position: relative;
top: 50%;
left: 40%;
}*/
