* {
  /* color: rgb(254, 253, 253);  */
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header-background,
.header-background{
  /* background-color: rgb(22, 40, 34) !important; */
  background-color: transparent !important;
  border: none !important;
  margin-left: 2%;
  color: rgb(22, 40, 34) !important;
  margin-bottom: 8%;
}

nav.header-background{
  border: none !important;
  box-shadow: none;
}
body {
  background-color: #162822;
}

.hero {
  background-image: url("https://cdn.midjourney.com/d83fda48-dc45-4f1d-93b1-010c2266e0d8/0_2.webp");
  background-size: cover;
}

.logo{
  width: 25%;
  height: 25%;
  margin-right: 15%;
 padding: 1%;
}
.btn {
  background-color: #19645d !important;
  padding: 0px 25px !important;
  border-radius: 10% !important;
}

.btn-login{
  padding: 5px 25px !important;
}
.profilePageHeader{
  margin-left: 20% !important;
}

.educationPageHeader{
  margin-left: 20% !important;
}
.header ul {
  list-style-type: none;
  margin-right: 5px;
  padding: 0;
}

.header li {
  display: inline-block;
  margin-left: 20px;
}

.header li a {
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border-radius: 0;
}


.button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

.profilePic {
  border-style: solid;
  border-width: 10px;
  border-radius: 5pt;
  width: 25%;
  height: 25%;
}
/*.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: white;
    border-radius: 12px;
    box-shadow: rgba (0, 0, 0, 0.1);
    pointer-events: none;
}



.form-container {
position: relative;
top: 50%;
left: 40%;
}*/

/* CSS to keep the Affiliate School logos small so they don't overwhelm the page */
.box {
  display: flex;
}

#logo-image {
  display: block;
  width: 1.6in;
  height: 1.2in;
  margin-right: 10px; /* Optional: Add some spacing between the logos */
}